---
install:
  - sudo snap install hugo

script:
  - make docs
  - mv docs/* ./

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: true
  on:
    branch: gh-pages
